body {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: #000;
    background-image: radial-gradient(circle, rgba(121, 68, 154, 0.13),       transparent)
}

#butnav:hover{
    background-color: #FF0099;
}

#moreboutme:hover{
    background-color: #1B0C44;
    color: white;
}

#moreboutme{
    background-color: #FF0099;
}

.kartu p{
    text-align: justify;
    text-justify: auto;
    height: 5em;
}

/* Pre-Loading Page */
.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1B0C44;
    z-index: 999999;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: #FF0099;
    position: absolute;
    top: 48%;
    left: 48%;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }
/* End of Pre-Loading Page */

/* width */
::-webkit-scrollbar {
    width: 10px !important;;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
    width: 10px !important;;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: transparent;
      /* To using calor pink */
      /* background: #FF0099; */
      width: 10px !important;
    }
    
    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #FF0099;
    width: 10px !important;;
  }

  #text_card::-webkit-scrollbar-track {
    background: #1B0C44;
    width: 10px !important;;
  }